.grid{
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 180px;
    width: 210px;
    margin: auto;
    margin-top: 100px;
}

.grid div{
    height:30px;
    width: 30px;
}

.one{
    background-color: red;
    border-radius: 20px;
}

.two{
    background-color: blue;
    border-radius: 20px;
}
